<?xml version="1.0"?>
<config>
    <modules>
        <WBL_QuantityDropDown>
            <version>0.0.1</version>
        </WBL_QuantityDropDown>
    </modules>
    <global>
        <blocks>
            <wbl_quantity_dropdown>
                <class>WBL_QuantityDropDown_Block</class>
            </wbl_quantity_dropdown>
            <quantity_dropdown><class>WBL_QuantityDropDown_Block</class></quantity_dropdown>
            <checkout>
                <rewrite>
                    <cart_item_renderer>WBL_QuantityDropDown_Block_Checkout_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
            <wishlist>
                <rewrite>
                    <customer_wishlist_item_column_cart>WBL_QuantityDropDown_Block_Wishlist_Customer_Wishlist_Item_Column_Cart</customer_wishlist_item_column_cart>
                </rewrite>
            </wishlist>
        </blocks>
        <models>
            <WBL_QuantityDropDown>
                <class>WBL_QuantityDropDown_Model</class>
            </WBL_QuantityDropDown>
        </models>
        <helpers>
            <WBL_QuantityDropDown>
                <class>WBL_QuantityDropDown_Helper</class>
            </WBL_QuantityDropDown>
            <quantity_dropdown><class>WBL_QuantityDropDown_Helper</class></quantity_dropdown>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <wbl_quantitydropdown>
                    <file>wbl/quantity_dropdown.xml</file>
                </wbl_quantitydropdown>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <WBL_QuantityDropDown>
                    <files>
                        <default>WBL_QuantityDropDown.csv</default>
                    </files>
                </WBL_QuantityDropDown>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wbl_quantity_dropdown>
            <general>
                <enable>1</enable>
            </general>
            <default>
                <list_values>10,100,500,1000,2000,10000</list_values>
                <preselected_value>1000</preselected_value>
            </default>
        </wbl_quantity_dropdown>
    </default>
</config>
